*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.foot{
    display: flex;
    background-color: rgb(230, 226, 221);
    height: 300px;
}
.foots{
    display: block;
    margin: 100px;
}
p.first{
    font-size: larger;
    /* font-weight: 300; */
    margin-bottom: 30px;
    margin-top: 50px;
}
p.second,.third,.fourth,.last{
    font-size: large;
    font-weight: 100;
    margin-bottom: 5px;
}
hr.foo{
    margin: 5px;
    border: 1px;
    border-color: #fff;
    
}
.footer{
    display: flex;
    margin: 0px;
    padding: 2.5px;
    background-color: rgb(230, 226, 221);
}

p.foote{
    text-decoration: underline;
    margin: 0px 30px;
}