*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.foot_container{
    display: block;
    background-color: #ffff;
    padding: 50px;
}
.foot{
    display: flex;
    height: 300px;
}
.foots{
    display: block;
    margin: 100px;
    margin-top: 50px;
}
p.first{
    font-size: larger;
    /* font-weight: 300; */
    margin-bottom: 30px;
    margin-top: 50px;
}
p.second,.third,.fourth,.last{
    font-size: large;
    font-weight: 100;
    margin-bottom: 5px;
}
hr.foo{
    margin: 5px;
    border: 1px;
    border-color: #696565;
    
}
.footer{
    display: flex;
    margin: 0px;
    padding: 3.5px;
}

p.foote{
    text-decoration: underline;
    margin: 0px 30px;
}


.main_veiw{
    box-sizing: border-box;
    padding: 50px;
}
h1.title{
    font-weight: 600;
    font-size: x-large;
    color: rgb(63, 62, 61);
}

p.title_description{
    font-weight: 100;
    font-size: medium;
    color: rgb(63, 62, 61);
}
div.but_container{
    display: flex;
    padding: 5px;
    width: 100vw;
}

div.but_st{
    text-align: center;
    width: 200px;
    height: 40px;
    background-color:  rgb(62, 137, 197) ;
    border: 0px;
    border-radius: 5px;
    padding-top: 10px;
    margin-left: 20px;
    
    color: #ffff;
}
div.but_sec{
    text-align: center;
    width: 200px;
    height: 40px;
    background-color: rgb(246, 248, 250);
    border: 0px;
    border-radius: 5px;
    padding-top: 10px;
    margin-left: 20px;
    color: #4070f4;
}

 p.but_inner{
    font-size: large;
    font-weight: 400;
}
.typing_container{
    height: 150px;
    width:100vw;
}
p.typing{
    text-align: left;
    margin-top: 100px;
    font-size:large;
}

.search_projects{
    display: flex;
    padding: 10px;
   background-color: #fafafa;
   width: 100vw;
   height: 100px;
}
.search_projects input{
    width: 700px;
    height: 80px;
    border: solid 1px #a09a9a;
    margin: 10px;
}
.search_projects button{
    width: 160px;
    height: 80px;
    border: solid 1px #4070f4;
    background-color: #4070f4;
    margin: 10px;
}
/* our typing animation */





section.type{
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
    text-align: center;
    overflow:hidden ;
    position: inherit;
  }
  .container{
  width:836px;
  overflow: hidden;
  }
  .container, .text.first-text, .text.sec-text{
    position: relative;
    color: #0b7413;
    font-size: 25px;
    font-weight: 600;
      margin-top: 3vh;
      margin-bottom: 8vh;
  }
  .text.first-text{
    color: #010718;
  }
  
  .text.sec-text::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:#ffff;
    border-left: #4070f4 solid 2px;
    animation: animate 4s steps(12) infinite;
  
  } 
  @keyframes animate {
    40%,60%{
        left:calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
  }
  
  
  
  
  
  /* our typing animation ends here*/

  section.write{
width: 100vw;
overflow-x: hidden;
  }