*{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
header{
    margin-top: 2%;
}
body{
    background-color: rgba(128, 0, 0, 0.664);
}
.emoji img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.topbar{
    height: 100vh;
}

.skills{
    padding-left: 5vw;
}

.contact-details{
    padding-right: 5vw;
}

.classes, .classes-2{
    margin: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}