
*{
    margin:0px;
    padding:0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    }
    
    nav.topbar{
    margin-top: 0%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    text-align: center;
    color: rgb(212, 212, 53);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 8%;
    width: 100%;
    font-size:5px;
    background-color:white;
    font-weight: lighter;
    }
    .top7{
    color:gray;
    margin-right: 5%;
    }
    .top1{
        margin: 15%;
    
    }
    .main_view{
    box-shadow:soft 2px gray;
    background-color:white;
    border-radius:2.5%;
    margin-left:5%;
    margin-top: 5%;
    margin-bottom: 5%;
    display:flex;
    text-align:center;
    width: 90%;
    height:74%;
    }
    
    a{
    text-decoration:none;
    color:black;
    }
    
    .bodylike{
    align-items:center;
    background-color:rgb(107, 103, 103);
    height:100%;
    }
    
    .words{
    margin-left:10%;
    margin-top:2.5%;
    display:block;
    text-align:center;
    margin-right:6%;
    }
    .images{
    display:block;
    text-align:center;
    background-color:#f30789 ;
    width: 52%;
    border-radius:0px 15px 15px 0px;
    }
    div .image2 {
    border-radius: 40%;
    padding-top: 7.5%;
    width: 60%;
    height: 60%;
    }
    h5{
    margin-top:5%;
    font-size:20px;
    }
    .words2{
    font-size: 30px;
    
    }
    .topsign{
    background-color:rgb(69, 143, 248);
    width:42%;
    height:10%;
    border-radius:10px;
    align-items: center;
    text-align:center;
    padding-inline-end:  4%;
    padding-top:  2%;
    padding-inline-start: 5%;
    margin-top:28%;
    font-size: 16px;
    }
     #search{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-left: 0px;
        font-size: auto 12px;
        margin-right: 0px;
        align-items: center;
        height: 100%;
        width: 70%;
        border: none;
        border-radius: 15px;
        color:gray;
        margin-top: 0rem;
        outline: none;
        padding-inline-end:  4%;
        padding-inline-start: 5%;
        position: relative;
        cursor: text;
    } 
    #search2{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-left: 0px;
        font-size: 10px;
        margin-right: 0px;
        align-items: center;
        height: 40%;
        width: 20%;
        border: solid 0.2px;
        border-radius: 40%;
        color:white;
        margin-top: 0rem;
        outline: none;
        /* padding-inline-end:  4px;
        padding-inline-start: 5px; */
        position: relative;
        background-color:gray;
        cursor: pointer;
        
    }
    h1{
        font-size: 20px;
    }
    hr{
    border:solid 5px gray;
    }
    .top1{
    margin-left:10%;
    display:flex;
    }
    .image_ling{
    height:40px;
    width:60px;
    border-radius:5px;
    }
    .promcode1{
    padding-top:5px;
    font-size:25px;
    }
    