*{
margin:0px;
}
body{
background-color: #fff;
box-sizing: border-box;
}
nav.topbar{
    display: flex;
    justify-content: space-between;
    align-items:center;
    text-align: center;
    color: rgb(212, 212, 53);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 80px;
    font-size:13px;
    background-color:white;
    }
    
    .top_7{
    color:gray;
    }
    
    .main_view{
    box-shadow:soft;
    background-color:white;
    border-radius:1.5em;
    margin:5.5%;
    display:flex;
    text-align:center;
    width: 1200px;
    height:500px;
    }
    a{
    text-decoration:none;
    color:black;
    }
    .bodylike{
    align-items:center;
    background-color:rgba(107, 103, 103, 0.747);
    height:651px;
    }
    .words{
    margin-left:115px;
    margin-top:50px;
    display:block;
    text-align:center;
    margin-right:100px;
    }
    .images{
    margin-left:135px;
    margin-top:50px;
    display:block;
    text-align:center;
    }
    h6{
    margin-top:50px;
    /* font-size:20px; */
    }
    .words2{
    font-size:30px;
    }
    .top_62{
    background-color:rgb(69, 143, 248);
    width:120px;
    height:60px;
    border-radius:10px;
    align-items: center;
    text-align:center;
    padding-inline-end:  44px;
    padding-top:  20px;
    padding-inline-start: 52px;
    margin-top:80px;
    }
    #search{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-left: 0px;
        font-size: 12px;
        margin-right: 0px;
        align-items: center;
        height: 30px;
        width: 200px;
        border: none;
        border-radius: 15px;
        color:gray;
        margin-top: 0rem;
        outline: none;
        padding-inline-end:  44px;
        padding-inline-start: 52px;
        position: relative;
        
    }
    #search2{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-left: 0px;
        font-size: 10px;
        margin-right: 0px;
        align-items: center;
        height: 30px;
        width: 40px;
        border: solid 0.2px;
        border-radius: 12px;
        color:white;
        margin-top: 0rem;
        outline: none;
        padding-inline-end:  4px;
        padding-inline-start: 5px;
        position: relative;
        background-color:gray;
        
    }
    hr{
    border:solid 5px gray;
    }
    .top_1{
    margin-left:2%;
    margin-right: 40px;
    display:flex;
    }
    .image_ling{
    height:40px;
    width:60px;
    border-radius:5px;
    }
    .promcode1{
    padding-top:5px;
    font-size:180%;
    }
    .promcode10{
        padding-top:5px;
        font-size:180%;
        color: blueviolet;
        }
    .promcode100{
            display: flex;
            }
    .top_7{
    margin-right:2%;
    font-size:100%;
    }
    .top_5{
    font-size:80%;
    }
    .top_4{
    font-size:80%;
    }
    .top_3{
    font-size:80%;
    }
    .top_2{
    margin-left: 25%;
    font-size:80%;
    }





    /* ---------------------imported css from website------------------------ */


    *{
        margin: 0px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        
        }
        #mydiv{
          display: none;
        }
        
        
        h2{
            padding-left: 40px;
        }
        a{
            text-decoration: none;
            
        }
        li{
            -style: none;
        }
        .nav_news{
            width: 100%;
            white-space: nowrap;
              }
              
            .image-container img {
            display: inline-block    ;
            width: 300px;
            height: auto;                  
              }
        .news{
            /*display: flex;
            flex-direction: row;*/
            display: block;
            text-align: center;
            align-items: center;
            /*margin: 20px;*/
        }
        .image1{
            width: 668px;
            height: 500px;
            margin-left: 55px;
        }
        hr{
            border-color: solid gray;
        }
        .bottom_line{
            display: flex;
            color: gray;
        }
        .divisions{
        padding-left: 50px;
        padding-right: 50px;
        }
        .upper{
            display: flex;
            margin-top: 150px;
            margin-bottom: 50px;
        
        }
        
        .list{
            float: left;
            width: 700px;
        }
        .word{
            /* float: right; */
            padding-left: 350px;
           margin-left: 10px;
        
        }
        
        .list_up{
            font-weight: bold;
            font-size: large;  
        }
        
        h5{
            align-content: center;
            padding-top: 20px;
        }
        
        
        .tab{
            display: inline-block;
            transition: color 0.3s;
            color: blue; /* Initial color */
          }
        
        
          .tab:hover{
            /*color: brown;*/
            color: white;
          text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
          } 
        
        /*the body*/
        
        .Highlights_GSOB{
          text-align: center;
          color: #888;
          margin-top: 20px;
          margin-bottom: 20px;
          transition: background-color 0.3s ease;
          height: 150px;
        }
        .Highlights_words{
         padding-top: 5%;
         color: #0f0f0f;
        font: size 500px;
        }
        .Highlights_words:hover{
        color: aliceblue;
          
        }
        
        .Highlights_GSOB:hover{
        background-color: #567c14;
        }
        
         .into{
            display: flex;
            /*flex-direction: column;*/
            image-resolution: 1080px;
             /*width: 1080px;
            height: 1080px;*/
          }
        
          .descr{
            /*position: ;*/
            font-size: 20px;
            color: rgb(63, 60, 60);
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            text-shadow: 2px 2px 2px #ddc145;
            display: flex;
            flex-direction: column;
            margin-left: 35px;
          }
        
          .imager{
            width: 680px;
            height: 500px;
            image-rendering: auto;
            image-resolution: 1080px;
            /*margin: 0rem;*/
          }
        
          .main{
            display: flex;

          }
        
        
        
          /*center div*/
        
          .stu{
            background-color: #e63888;
            height: 10rem;
            width: 28rem;
            text-align: center;
            font-size: medium;
          }
        
          .ped{
            width: 28rem;
            height: 10rem;
            background-color: #00ade6;
            text-align: center;
            font-size: medium;
          }
        
          .fam{
            width: 28rem;
            height: 10rem;
            background-color: #fbd200;
            font-size: medium;
          }
        
          .edu{
            width: 28rem;
            height: 10rem;
            background-color: #7f35b2;
            text-align: center;
            font-size: medium;
          }
        
          .the{
            width: 28rem;
            height: 10rem;
            background-color: #ace152;
            text-align: center;
            font-size: medium;
            }
        
            .centerimg{
              margin-top: 3rem;
              width: 12rem
            }
        
            .centerimg1{
              margin-top: 3rem;
              width: 19rem;
              height: 14rem;
              /*padding-left: 5rem;*/
            }
        
            .centerimg2{
              margin-top: 3rem;
              width: 19rem;
              height: 14rem;
              /*padding-left: 5rem;*/
            }
        
            .centerimg3{
              margin-top: 3rem;
              /*width: 19rem;*/
              height: 14rem;
        
            }
        
            
        
            .fam{
              text-align: center;
            }
        
        
            
        
            /*back to top*/
            #scrollToTopBtn {
              display: none;
              position: fixed;
              bottom: 20px;
              right: 30px;
              z-index: 99;
              font-size: 16px;
              border: none;
              outline: none;
              background-color: #555;
              color: white;
              cursor: pointer;
              padding: 10px;
              border-radius: 4px;
            }
            
            #scrollToTopBtn:hover {
              background-color: #777;
            }
            
        
            /* Default styles for larger screens */
        /* ... */
        
        /* Styles for tablets and smaller screens */
        @media (max-width: 768px) {
          /* CSS styles for tablets and smaller screens go here */
        }
        
        /* Styles for mobile devices and smaller screens */
        @media (max-width: 480px) {
          /* CSS styles for mobile devices and smaller screens go here */
        }
        
        
            /*footer css*/
        
            nav.doorway{
              color: white;
              background-color: rgb(113, 133, 151);
              display: flex;
              justify-content: center;
          }
          .doorway_2{
          background-color: rgb(5, 75, 124);
          display: flex;
          color: white;
          }
          .sideview{
              color: white;
              margin-left: 500px;
              background-color: rgb(3, 88, 147);
          }
          .contactus{
              color: white;
              padding: 2rem;
              /*align-content: center;*/
              text-align: center;
          }
          #words{
              background-color:rgb(113, 133, 151);
          color: white;
          }
          .list_2{
              align-items: center;
          }
          .Li1{
          list-style-type: circle;
          }
          
          .fa-facebook{
              font-size: 30px;
              color: blue;
              transition: color 0.3s, font-size 0.3s;
            }
                
          .fa-facebook:hover {
              font-size: 50px;
              color: black;
           }
          
          .fa-instagram {
              font-size: 30px;
              color: darkmagenta;
              transition: font-size 0.3s;    
          }
          .fa-instagram:hover{
              font-size: 50px;
              color: black;
          }
          .fa-twitter {
              font-size: 30px;
              color: blue;
              transition: font-size 0.3s;
          }
          .fa-twitter:hover{
              font-size: 50px;
              transition:font-size 0.3s;
              color: black;
          }
          .fa-youtube {
              font-size: 30px;
              color: red;
              transition: color;
          }
          .fa-youtube:hover{
              font-size: 50px;
              color: black;
          }
          .fa-envelope{
              font-size: 30px;
          }
          .fa-envelope:hover{
              font-size: 50px;
              color: black;
          }
                    
          .noti{
              color: blue;
            }
          
            .contact2{
              border-radius: 25px;
             border: solid whitesmoke;
              height: 60px;
              width: 380px;
              padding-left: 50px;
            }
          
            .contact1{
              border-radius: 35px;
             border: solid whitesmoke;
              height: 60px;
             padding: 1px 130px;
             font-size: 30px;
            }
          
            .last{
              height: 4.5rem;
              font-family: Helvetica,Arial,メイリオ,meiryo,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,sans-serif;
              background-color: blue;
              text-align: center;
              color: whitesmoke;
            }
          
            .footer{
              display: flex;
            }
            .phantom{
              width: 25rem;
            }
            b{
              font-size: 1rem;
            }
            /*top tab*/
            
           
        .left{
            float: left;
            background-color: none;
            margin: 20px;
        }
        .right{
            background-color: none;
            display: flex;
            padding-left: 10px;
            align-items: center;
        }
        .tab-container {
            position: relative;
            padding-top: 10px;
          
          }
          
          .menu {
            display: inline-block;
            padding: 10px 20px;
            background-color: black;
            color: whitesmoke;
            margin-left: 25rem;
          }
          .menu:hover{
            color: blue;
          }
        
          .content {
            display: inline-block;
            padding: 10px 20px;
            position: absolute;
            top: 100%;
            left: 0;
            display: none;
            background-color: black;
            margin-left: 15rem;
            }
            
            .menu:hover .content {
            display: block;
              
            }
        
            #par{
              color: #567c14;
              margin-left: 5rem;
              font-size: 3rem;
              text-align: center;
              width: 600px;
            }
        
        
           
        
        
         
          /* ---------------------imported css from website ends here ------------------------ */





  /* our typing animation */





section.type{
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffff;
  text-align: center;
  overflow:hidden ;
  position: inherit;
}
.container{
width:836px;
overflow: hidden;
}
.container, .text.first-text, .text.sec-text{
  position: relative;
  color: #0b7413;
  font-size: 25px;
  font-weight: 600;
    margin-top: 4vh;
    margin-bottom: 10vh;
}
.text.first-text{
  color: #010718;
}

.text.sec-text::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color:#ffff;
  border-left: #4070f4 solid 2px;
  animation: animate 4s steps(12) infinite;

} 
@keyframes animate {
  40%,60%{
      left:calc(100% + 4px);
  }
  100%{
      left: 0%;
  }
}





/* our typing animation ends here*/