*{
margin:0px;
}
body {
font-family: helvetica, arial, san-serif;
background-color:gray;
}

header{
background: lightblue;
border: solid blue;
border-width: 10px 0px 10px 0px;
margin: 0 auto;
text-align: center;
}
h1 {
font-size: 3em;
}
.circle{
width: 100px;
height: 100px;

border-radius: 50%;

display: inline-block;
text-align:center;
}
.banner {
color: pink;
background-color: #ce54c7; 
padding: 40px;
font-size: 1.5em;
border-left: 10px solid #d6d5cd;
font-family: Arial, Helvetica, sans-serif;
}
header, h3 {
color: white;
font-family: "Arial Black",
Gadget, sans-serif;
}
p, ul {
padding-left: 50px;
font-size: 1.3em;
}
.emoji {
font-size: 5em;
text-align:center;
}
li{
	list-style:none;
}

nav.body_like{
	width:70%;
	height:700px;
	background-color:rgb(166,183,255);
	border-radius:1.5em;
}